/* Styles for the container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

/* Styles for the sign-out button */
.home-sign-out-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.home-sign-out-button {
  background-color: transparent;
  color: tomato;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: color 0.3s; /* Add transition effect for color change */
}

.home-sign-out-button:hover {
  color: darkred; /* Change color on hover */
}

/* Styles for the search bar */
.home-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Styles for the search input */
.home-search-input {
  border-radius: 20px;
  padding: 15px; 
  margin-right: 10px;
  font-size: 26px; 
}

/* Styles for the button container */
.home-button-container {
  display: flex;
  justify-content: center;
}

/* Styles for the Cite button */
.home-cite-button {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px; 
  cursor: pointer;
  font-size: 24px; /* Increase font size */
  margin: 0 10px;
  width: 150px; 
  text-align: center; /* Center the text horizontally */
  line-height: 30px; /* Center the text vertically */
  white-space: nowrap; 
  text-decoration: none; /* Add this line to remove underline */
}

/* Styles for the Upload button and Manual Entry button */
.home-upload-button {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 20px; 
  margin: 20px 10px 0; 
  width: 150px; 
  white-space: nowrap;
  height: 65px; 
}

.home-manual-entry-button {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 20px; 
  margin: 20px 10px 0; 
  width: 175px; 
  white-space: nowrap;
  height: 65px; 
}

/* Styles for the dropdown */
.home-dropdown {
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  margin-right: 10px;
}

/* Style the dropdown options */
.home-dropdown option {
  background-color: white; /* Set the background color for options */
  color: black; /* Set the text color for options */
}

/* Style the highlighted (selected) option */
.home-dropdown option:checked {
  background-color: tomato; /* Set the background color for the selected option */
  color: white; /* Set the text color for the selected option */
}
