button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  /* Styles for the dropdown */
.bg-dropdown {
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    z-index: 10;
    position: absolute;
    width: 9em;
  }
  
  /* Style the dropdown options */
  .bg-dropdown option {
    background-color: white; /* Set the background color for options */
    color: black; /* Set the text color for options */
  }
  
  /* Style the highlighted (selected) option */
  .bg-dropdown option:checked {
    background-color: tomato; /* Set the background color for the selected option */
    color: white; /* Set the text color for the selected option */
  }
